@use "../../assets/styles/typography" as fonts;
@use "../../assets/styles/variables" as variables;

.checkboxLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  max-width: 70%;
  font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
  &::before {
    position: absolute;
    content: attr(data-content);
    color: variables.$lightgray;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: variables.$black;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
.editBtn {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: none;
  max-width: 70%;
  background-color: inherit;
  font-size: 1.5em;
  padding: 0 0.25em 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#taskEditing {
  max-width: 70%;
  text-indent: 0px;
  font-size: 1.4em;
  padding: 0 0.25em 0;
  font-weight: 600;
  border: 1px solid lightcoral;
}
.deleteBtn,
.btnWithIcon {
  border: none;
  visibility: hidden;
  background-color: inherit;
  img {
    width: 20px;
  }
  &:active {
    transform: translateY(4px);
  }
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}
.taskFieldset {
  border-radius: 0;
  border-bottom: 1px solid #f0eff2;
  white-space: nowrap;
  position: relative;

  text-overflow: ellipsis;
  //check in mobile version
  &:hover {
    .btnWithIcon {
      visibility: visible;
    }
  }
}
