.helpBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  .bookIcon {
    width: 70px;
  }
}

.modalBackground {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  opacity: 0.6;
}
.modalWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 150px;
  right: 50px;
  width: 20%;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  z-index: 5;
  .nextSectionBtn {
    align-self: center;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightblue;
  }
  .deleteIcon {
    position: absolute;
    right: 10px;
    width: 20px;
  }
}

// marks for tutorial
.markupInput {
  position: absolute;
  top: 150px;
  border: 3px solid white;
  width: 40%;
  height: 6%;
}
.markupTaskList {
  position: absolute;
  top: 212px;
  border: 3px solid white;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .helpBtn {
    right: 110px;
    top: 85px;
    .bookIcon {
      width: 40px;
    }
  }
  .markupInput {
    width: 70%;
  }
  .markupTaskList {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .modalWindow {
    width: 100%;
    top: 580px;
    right: 0px;
  }
}
