@use "../../assets/styles/_variables.scss" as variables;

.footerCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  justify-content: space-around;
  min-width: 50%;
}

.counter {
  color: #a7a6ac;
  font-size: xx-small;
  display: flex;
  align-items: center;
}

.footerCenter > *:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;

  color: red;
  &:hover {
    text-decoration: none;

    transition: 0.2s;
  }
}
.is-active {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightblue;
  background-color: lightblue;
}
