@use "assets/styles/_typography.scss" as fonts;
@use "assets/styles/_variables.scss" as variables;

header {
  position: absolute;
  min-height: 30vh;
  width: 100vw;
  z-index: -1;
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("assets/img/header-background.jpeg");
  background-size: auto;
  background-position-x: center;
  background-position-y: 60%;
  background-repeat: no-repeat;
}
main {
  margin-top: 80px;
  width: 40%;

  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .title {
    letter-spacing: 0.7rem;
    color: white;
    font-weight: 550;
    font-size: 2.5rem;
    align-self: flex-start;
  }
}

.createTaskContainer {
  background-color: white;
  margin: 15px 0;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  .inputCheck {
    margin-left: 4px;
  }
}

fieldset {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  min-height: 5vh;

  input {
    width: 80%;
    border: none;
    &:focus {
      outline: none;
      caret-color: #99b1cd;
    }
    cursor: pointer;
  }
}

.todoListContainer {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  height: 35vh;
  width: 100%;
  background-color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.397);
  align-items: center;
}

article > * {
  background-color: #ffffff;
}

.mainHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-size: xx-large;
  span: {
    font-weight: bolder;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 80%;
  }
}
