@use "_variables" as variables;
@use "_typography" as fonts;

.dark {
  .clearBtn {
    color: rgb(184, 184, 184);
  }

  a {
    color: rgb(184, 184, 184);
  }

  .editBtn {
    color: rgb(184, 184, 184);
  }

  input {
    background-color: rgb(78, 76, 76);
    color: white;
  }

  background: rgba(0, 0, 0, 0.753);
  margin: 0;
  font-family: fonts.$mainFont;
  height: 100vh;
  .formInputs {
    width: 100%;
  }

  header {
    position: absolute;
    min-height: 30vh;
    width: 100vw;
    z-index: -1;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.52),
        rgba(77, 7, 59, 0.73)
      ),
      url("../img/header-background.jpeg");
    background-size: auto;
    background-position-x: center;
    background-position-y: 60%;
    background-repeat: no-repeat;
  }
  main {
    margin-top: 80px;
    width: 40%;

    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .title {
      letter-spacing: 0.7rem;
      color: white;
      font-weight: 550;
      font-size: 2.5rem;
      align-self: flex-start;
    }
  }

  .createTaskContainer {
    background-color: rgb(78, 76, 76);
    margin: 15px 0;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    .inputCheck {
      border: solid black 1px;
      margin-left: 4px;
    }
  }

  fieldset {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    min-height: 5vh;
    .createTaskInput {
      width: 80%;
    }
    input {
      border: none;
      &:focus {
        outline: none;
        caret-color: #99b1cd;
      }
    }
    .formInputs {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .todoListContainer {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    height: 40vh;
    width: 100%;
    background-color: rgb(78, 76, 76);
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.397);
    align-items: center;
  }

  article > * {
    background-color: rgb(78, 76, 76);
  }

  .mainHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffffc7;
    font-size: xx-large;
    span: {
      font-weight: bold;
    }

    span:hover {
      cursor: pointer;
    }

    button {
      border: none;
      background: none;
      color: #ffffffc7;
    }
  }

  i {
    list-style: none;
    width: 100%;
  }

  .todosList {
    margin: 0;
    padding: 0;
    height: 90%;
    overflow-y: auto;
  }
  .emptyListFieldset {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    .svgIcon {
      height: auto;

      width: 40%;
    }
    h5 {
      bottom: 0;
      left: 30px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .inputCheck {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: variables.$black;
    border: 1px solid variables.$checkboxGray;
    border-radius: 50px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: variables.$white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }

    &:checked {
      color: variables.$white;
      border-color: #ffffff;
      background: linear-gradient(
        to left,
        rgba(216, 166, 226, 0.52),
        rgba(77, 7, 59, 0.73)
      );
      &::before {
        opacity: 1;
      }
      ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  .taskFieldset {
    border-bottom: 1px solid #1e1e1f9d;
  }

  .is-active {
    opacity: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(3, 48, 63);
    background-color: rgb(3, 48, 63);
  }
}
