$gray: #f0f0f0;
//
$gradient: linear-gradient(
  to top right,
  rgba(245, 246, 252, 0.52),
  rgba(117, 19, 93, 0.73)
);
$black: #363839;
$lightgray: #9c9e9f;
$checkboxGray: #bdc1c6;
$white: #fff;
$green: #06842c;
